<template>
  <div class="container">
    <!-------------------------------------------->
    <h1>BLOG POSTS</h1>
    <router-link :to="'/newpost'" tag="button" class="btn btn-primary">New Post</router-link>
    <!-------------------------------------------->
    <div class="posts" v-for="post in posts" :key="post._id">
      <h2>{{ post.title }}</h2>
      <small>ID: {{ post._id }}</small>
      <p class="text-justify">{{ post.body.slice(0, 1000) }}...</p>
      <!-------------------------------------------->
      <div class="btn-group mr-2" role="group">
        <router-link
          :to="'/posts/' + post._id"
          tag="button"
          class="btn btn-outline-secondary"
        >Read More</router-link>
      </div>
      <div class="btn-group mr-2" role="group">
        <router-link
          :to="'/updatepost/' + post._id"
          tag="button"
          class="btn btn-outline-primary"
        >Edit</router-link>
      </div>
      <div class="btn-group mr-2" role="group">
        <button
          @click.prevent="deletePost(post._id)"
          type="button"
          class="btn btn-outline-danger"
        >Delete</button>
      </div>
      <!-------------------------------------------->
    </div>
  </div>
</template>

<script>
//
import BlogService from "@/services/BlogService";
//
export default {
  name: "posts",
  data() {
    return {
      posts: [],
    };
  },
  mounted() {
    this.getPosts();
  },
  methods: {
    async getPosts() {
      const response = await BlogService.fetchPosts();
      this.posts = response.data;
    },
    async deletePost(id) {
      if (confirm("Are you sure you want to delete this post?")) {
        await BlogService.deletePost(id);
      }
    },
  },
};
</script>

<style scoped>
.container {
  margin-bottom: 50px;
}
h1 {
  color: rgb(43, 35, 46);
}
.posts {
  margin: 15px 5px;
  padding: 20px 20px;
  background: rgb(43, 35, 46);
  color: rgb(156, 145, 161);
  box-shadow: 0 10px 6px -6px rgba(6, 4, 9, 0.897);
}
.posts p {
  text-align: justify;
}
.posts a {
  color: #c89449;
  transition-property: color;
  transition-duration: 400ms;
}

.posts a:hover {
  color: rgb(175, 80, 12);
  transition-property: color;
  transition-duration: 400ms;
  text-decoration: none;
}
</style>