<template>
  <div class="container">
    <h1>Tarot Cards</h1>
    <!-------------------------------------------->
    <div class="disclaimer">
      <h5>NOTE</h5>
      <p>! It is advised-against to delete or create cards in a singular bases, as currently the cards are show in the order they are saved in the database. Doing so will resukt in the cards not being shown in the correct order !</p>
    </div>
    <div class="row justify-content-center">
      <div class="cards col-md-auto" v-for="card in cards" :key="card._id">
        <h3>{{ card.name }}</h3>
        <img :src="card.image" alt />
        <!-------------------------------------------->
        <div class="button justify-content-center">
          <router-link
            :to="'/updatecard/' + card._id"
            tag="button"
            class="btn btn-outline-secondary"
          >See and Edit</router-link>
        </div>
        <!-------------------------------------------->
        <div class="button">
          <button
            @click.prevent="deleteCard(card._id)"
            type="button"
            class="btn btn-outline-danger"
          >Delete</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//
import CardsService from "@/services/CardsService";
//
export default {
  name: "Cards",
  data() {
    return {
      cards: [],
    };
  },
  mounted() {
    this.getCards();
  },
  methods: {
    async getCards() {
      const response = await CardsService.fetchCards();
      this.cards = response.data;
    },
    async deleteCard(id) {
      if (confirm("Are you sure you want to delete this card?")) {
        await CardsService.deleteCard(id);
      }
    },
  },
};
</script>

<style scoped>
.container {
  padding: 20px 20px 50;
  margin: 20px auto 50px;
  background: rgb(43, 35, 46);
  color: rgb(156, 145, 161);
  box-shadow: 0 10px 6px -6px rgba(6, 4, 9, 0.897);
  border: 1px solid rgba(6, 4, 9, 0.329);
}
.container h1 {
  color: rgb(156, 145, 161);
  margin-top: 50px;
}
.container .disclaimer {
  margin: 25px auto;
}
.cards a {
  font-size: 20px;
  color: rgb(156, 145, 161);
  transition-property: color;
  transition-duration: 400ms;
}
.cards a:hover {
  text-decoration: none;
  color: #c89449;
  transition-property: color;
  transition-duration: 400ms;
}
.cards img {
  max-height: 250px;
}

.button {
  display: block;
}

.btn {
  margin: 5px auto;
}
</style>