<template>
  <div class="container">
    <h1>New Card</h1>
    <div class="card" v-if="!submited">
      <div class="disclaimer">
        <h5>NOTE</h5>
        <p>! It is advised-against to delete or create cards in a singular bases, as currently the cards are show in the order they are saved in the database. Doing so will resukt in the cards not being shown in the correct order !</p>
      </div>
      <label for="name">Name</label>
      <br />
      <input type="text" id="name" v-model="card.name" />
      <br />
      <label for="number">Number</label>
      <br />
      <input type="text" id="number" v-model="card.number" />
      <br />
      <label for="image">Image URL</label>
      <br />
      <input type="text" id="image" v-model="card.image" />
      <br />
      <h3>MEANINGS</h3>
      <label for="general">General</label>
      <br />
      <textarea type="text" id="general" rows="10" cols="80" v-model="card.meaning.general"></textarea>
      <br />
      <label for="self">Self</label>
      <br />
      <textarea type="text" id="self" rows="10" cols="80" v-model="card.meaning.self"></textarea>
      <br />
      <label for="challenge">Challenge</label>
      <br />
      <textarea type="text" id="challenge" rows="10" cols="80" v-model="card.meaning.challenge"></textarea>
      <br />
      <label for="past">Past</label>
      <br />
      <textarea type="text" id="past" rows="10" cols="80" v-model="card.meaning.past"></textarea>
      <br />
      <label for="future">Future</label>
      <br />
      <textarea type="text" id="future" rows="10" cols="80" v-model="card.meaning.future"></textarea>
      <br />
      <label for="conscious">Conscious</label>
      <br />
      <textarea type="text" id="conscious" rows="10" cols="80" v-model="card.meaning.conscious"></textarea>
      <br />
      <label for="unconscious">Unconscious</label>
      <br />
      <textarea type="text" id="unconscious" rows="10" cols="80" v-model="card.meaning.unconscious"></textarea>
      <br />
      <label for="inner">Inner influence</label>
      <br />
      <textarea type="text" id="inner" rows="10" cols="80" v-model="card.meaning.inner"></textarea>
      <br />
      <label for="outer">Outer influence</label>
      <br />
      <textarea type="text" id="outer" rows="10" cols="80" v-model="card.meaning.outer"></textarea>
      <br />
      <label for="fear">Hopes and fears</label>
      <br />
      <textarea type="text" id="fear" rows="10" cols="80" v-model="card.meaning.fear"></textarea>
      <br />
      <label for="outcome">Outcome</label>
      <br />
      <textarea type="text" id="outcome" rows="10" cols="80" v-model="card.meaning.outcome"></textarea>
      <br />
      <button @click="createCard" class="btn btn-primary">Create card</button>
    </div>
    <div v-else>
      <h2>You submitted successfully!</h2>
      <button class="btn btn-secondary" @click="newCard">New card</button>
    </div>
  </div>
</template>

<script>
///////////////
import CardsService from "@/services/CardsService";
////////////////
export default {
  ////////////////
  name: "Newcard",
  ///////////////
  data() {
    return {
      card: {
        id: null,
        number: "",
        name: "",
        image: "",
        meaning: {
          general: "",
          self: "",
          challenge: "",
          past: "",
          future: "",
          conscious: "",
          unconscious: "",
          inner: "",
          outer: "",
          fear: "",
          outcome: "",
        },
      },
      submited: false,
    };
  },
  methods: {
    createCard() {
      //
      let data = {
        number: this.card.number,
        name: this.card.name,
        image: this.card.image,
        meaning: {
          general: this.card.meaning.general,
          self: this.card.meaning.self,
          challenge: this.card.meaning.challenge,
          past: this.card.meaning.past,
          future: this.card.meaning.future,
          conscious: this.card.meaning.conscious,
          unconscious: this.card.meaning.unconscious,
          inner: this.card.meaning.inner,
          outer: this.card.meaning.outer,
          fear: this.card.meaning.fear,
          outcome: this.card.meaning.outcome,
        },
      };
      //
      CardsService.newCard(data)
        .then((response) => {
          this.card.id = response.data.id;
          console.log(response.data);
          this.submited = true;
        })
        .catch((e) => {
          console.log(e);
        });
      //
    },

    newCard() {
      this.submited = false;
      this.card = {};
    },
  },
};
</script>

<style scoped>
.container {
  padding: 20px 20px 50;
  margin: 20px auto 50px;
  background: rgb(43, 35, 46);
  color: rgb(156, 145, 161);
  box-shadow: 0 10px 6px -6px rgba(6, 4, 9, 0.897);
  border: 1px solid rgba(6, 4, 9, 0.329);
}
.container h1 {
  color: rgb(156, 145, 161);
  margin-top: 50px;
}
.disclaimer {
  margin: 25px auto;
}
.card {
  margin: 15px 5px 25px 5px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}
label {
  font-size: 20px;
}
</style>