<template>
  <div>
    <h1>New Post</h1>
    <div class="post" v-if="!submited">
      <label for="title">Title</label>
      <br />
      <input type="text" id="title" required v-model="post.title" name="title" />
      <br />
      <label for="body">Post</label>
      <br />
      <textarea type="text" id="body" required rows="40" cols="80" v-model="post.body" name="body"></textarea>
      <br />
      <button @click="createPost" class="btn btn-primary">Create post</button>
    </div>
    <div v-else>
      <h2>You submitted successfully!</h2>
      <div class="btn-group mr-2" role="group">
        <button class="btn btn-primary" type="button" @click="newPost">New post</button>
      </div>
      <div class="btn-group mr-2" role="group">
        <router-link to="/blog" tag="button" class="btn btn-primary">Retour</router-link>
      </div>
    </div>
  </div>
</template>

<script>
//
import BlogService from "@/services/BlogService";
//
export default {
  name: "Newpost",
  data() {
    return {
      post: {
        id: null,
        title: "",
        body: "",
      },
      submited: false,
    };
  },
  methods: {
    createPost() {
      //
      let data = {
        title: this.post.title,
        body: this.post.body,
      };
      //
      BlogService.newPost(data)
        .then((response) => {
          this.post.id = response.data.id;
          console.log(response.data);
          this.submited = true;
        })
        .catch((e) => {
          console.log(e);
        });
      //
    },

    newPost() {
      this.submited = false;
      this.post = {};
    },
  },
};
</script>

<style scoped>
.post {
  margin: 15px 5px 100px 5px;
}
</style>