<template>
  <div class="container">
    <div class="card">
      <h1>{{card.name}}</h1>
      <small>{{card.number}}</small>
      <form>
        <br />
        <label for="name">Name</label>
        <br />
        <input type="text" id="name" v-model="card.name" />
        <br />
        <label for="number">Number</label>
        <br />
        <input type="text" id="number" v-model="card.number" />
        <br />
        <label for="image">Image URL</label>
        <br />
        <input type="text" id="image" v-model="card.image" />
        <br />
        <small>Current image:</small>
        <br />
        <img :src="card.image" alt />
        <h3>MEANINGS</h3>
        <label for="general">General</label>
        <br />
        <textarea type="text" id="general" rows="10" cols="80" v-model="card.meaning.general"></textarea>
        <br />
        <label for="self">Self</label>
        <br />
        <textarea type="text" id="self" rows="10" cols="80" v-model="card.meaning.self"></textarea>
        <br />
        <label for="challenge">Challenge</label>
        <br />
        <textarea type="text" id="challenge" rows="10" cols="80" v-model="card.meaning.challenge"></textarea>
        <br />
        <label for="past">Past</label>
        <br />
        <textarea type="text" id="past" rows="10" cols="80" v-model="card.meaning.past"></textarea>
        <br />
        <label for="future">Future</label>
        <br />
        <textarea type="text" id="future" rows="10" cols="80" v-model="card.meaning.future"></textarea>
        <br />
        <label for="conscious">Conscious</label>
        <br />
        <textarea type="text" id="conscious" rows="10" cols="80" v-model="card.meaning.conscious"></textarea>
        <br />
        <label for="unconscious">Unconscious</label>
        <br />
        <textarea
          type="text"
          id="unconscious"
          rows="10"
          cols="80"
          v-model="card.meaning.unconscious"
        ></textarea>
        <br />
        <label for="inner">Inner influence</label>
        <br />
        <textarea type="text" id="inner" rows="10" cols="80" v-model="card.meaning.inner"></textarea>
        <br />
        <label for="outer">Outer influence</label>
        <br />
        <textarea type="text" id="outer" rows="10" cols="80" v-model="card.meaning.outer"></textarea>
        <br />
        <label for="fear">Hopes and fears</label>
        <br />
        <textarea type="text" id="fear" rows="10" cols="80" v-model="card.meaning.fear"></textarea>
        <br />
        <label for="outcome">Outcome</label>
        <br />
        <textarea type="text" id="outcome" rows="10" cols="80" v-model="card.meaning.outcome"></textarea>
        <br />
      </form>
      <div class="btn-group mx-auto" role="group">
        <button type="submit" class="btn btn-primary" @click="updateCard">Save</button>

        <button class="btn btn-danger" type="button" @click.prevent="deleteCard(card._id)">Delete</button>

        <router-link to="/cards" tag="button" class="btn btn-primary">Anuler</router-link>
      </div>
      <p>{{ message }}</p>
    </div>
  </div>
</template>

<script>
/////////////////
import CardsService from "@/services/CardsService";
////////////////
export default {
  //////////////
  name: "SingleCard",
  ///////////////
  data() {
    return {
      card: {
        number: "",
        name: "",
        image: "",
        meaning: {
          general: "",
          self: "",
          challenge: "",
          past: "",
          future: "",
          conscious: "",
          unconscious: "",
          inner: "",
          outer: "",
          fear: "",
          outcome: "",
        },
      },
      id: this.$route.params.id,
      message: "",
    };
  },
  /////////////
  mounted() {
    this.message = "";
    this.getCard(this.$route.params.id);
  },
  //
  methods: {
    ///////////
    getCard() {
      CardsService.fetchCard(this.$route.params.id)
        .then((response) => {
          this.card = response.data;
          // console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    //////////
    updateCard() {
      //
      let data = {
        number: this.card.number,
        name: this.card.name,
        image: this.card.image,
        meaning: {
          general: this.card.meaning.general,
          self: this.card.meaning.self,
          challenge: this.card.meaning.challenge,
          past: this.card.meaning.past,
          future: this.card.meaning.future,
          conscious: this.card.meaning.conscious,
          unconscious: this.card.meaning.unconscious,
          inner: this.card.meaning.inner,
          outer: this.card.meaning.outer,
          fear: this.card.meaning.fear,
          outcome: this.card.meaning.outcome,
        },
      };
      //
      // console.log(this.data);
      console.log(data);
      CardsService.updateCard(this.$route.params.id, data)
        .then((response) => {
          console.log(response.data);
          this.message = "The card was updated";
        })
        .catch((e) => {
          console.log(e);
        });
    },
    async deleteCard(id) {
      if (confirm("Are you sure you want to delete this card?")) {
        await CardsService.deleteCard(id);
        this.$router.push("/cards");
      }
    },
    /////////
  },
};
// mounted(): called after the DOM has been mounted or rendered. Here you have access to the DOM elements and DOM manipulation can be performed
</script>

<style scoped>
.container {
  padding: 20px 20px 50;
  margin: 20px auto 50px;
  background: rgb(43, 35, 46);
  color: rgb(156, 145, 161);
  box-shadow: 0 10px 6px -6px rgba(6, 4, 9, 0.897);
  border: 1px solid rgba(6, 4, 9, 0.329);
}
.container h1 {
  color: rgb(156, 145, 161);
  margin: 50px auto;
}
.card {
  margin: 15px 5px 25px 5px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}
label {
  font-size: 20px;
}
</style>