<template>
  <div>
    <!-------------------------------------------->
    <h1>{{ post.title }}</h1>
    <!-------------------------------------------->
    <div class="post">
      <h2></h2>
      <small>ID: {{ post._id }}</small>
      <br />
      <br />
      <p class="text-justify">{{ post.body }}</p>
      <br />
      <!-------------------------------------------->
      <div class="btn-group mr-2" role="group">
        <router-link :to="'/blog'" tag="button" class="btn btn-outline-primary">Retour</router-link>
      </div>
      <div class="btn-group mr-2" role="group">
        <router-link :to="'/updatepost/' + post._id" tag="button" class="btn btn-outline-primary">Edit</router-link>
      </div>
      <div class="btn-group mr-2" role="group">
        <button
          @click.prevent="deletePost(post._id)"
          type="button"
          class="btn btn-outline-danger"
        >Delete</button>
      </div>
      <!-------------------------------------------->
      <br />
      <br />
      <br />
    </div>
  </div>
</template>

<script>
/////////////////
import BlogService from "@/services/BlogService";
////////////////
export default {
  //////////////
  name: "SinglePost",
  ///////////////
  data() {
    return {
      post: {},
      id: this.$route.params.id
    };
  },
  /////////////
  mounted() {
    this.getPost(this.$route.params.id);
  },
  //
  methods: {
    ///////////
    getPost() {
      BlogService.fetchPost(this.$route.params.id)
        .then(response => {
          this.post = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    }
  }
};
</script>

<style lang="stylus" scoped></style>