<template>
  <div>
    <h1>Edit Post</h1>
    <form>
      <br />
      <label for="title">Title</label>
      <br />
      <input type="text" id="title" v-model="post.title" />
      <br />
      <br />
      <label for="body">Post</label>
      <br />
      <textarea type="text" id="body" rows="40" cols="80" v-model="post.body"></textarea>
      <br />
    </form>
    <div class="btn-group mr-2" role="group">
      <button type="submit" class="btn btn-primary" @click="updatePost">Save</button>
    </div>
    <div class="btn-group mr-2" role="group">
      <button class="btn btn-danger" type="button" @click.prevent="deletePost(post._id)">Delete</button>
    </div>
    <div class="btn-group mr-2" role="group">
      <router-link to="/blog" tag="button" class="btn btn-primary">Anuler</router-link>
    </div>
    <p>{{ message }}</p>
  </div>
</template>

<script>
/////////////////
import BlogService from "@/services/BlogService";
////////////////
export default {
  //////////////
  name: "UpdatePost",
  ///////////////
  data() {
    return {
      post: {
        title: "",
        body: "",
      },
      id: this.$route.params.id,
      message: "",
    };
  },
  /////////////
  mounted() {
    this.message = "";
    this.getPost(this.$route.params.id);
  },
  //
  methods: {
    ///////////
    getPost() {
      BlogService.fetchPost(this.$route.params.id)
        .then((response) => {
          this.post = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    //////////
    updatePost() {
      //
      let data = {
        title: this.post.title,
        body: this.post.body,
      };
      //
      console.log(this.data);
      console.log(data);
      BlogService.updatePost(this.$route.params.id, data)
        .then((response) => {
          console.log(response.data);
          this.message = "The post was updated";
        })
        .catch((e) => {
          console.log(e);
        });
    },
    async deletePost(id) {
      if (confirm("Are you sure you want to delete this post?")) {
        await BlogService.deletePost(id);
        this.$router.push("/blog");
      }
    },
    /////////
  },
};
// mounted(): called after the DOM has been mounted or rendered. Here you have access to the DOM elements and DOM manipulation can be performed
</script>

<style lang="stylus" scoped></style>